<div [formGroup]="formGroup">
  <div>
    <a href="https://docs.google.com/document/d/18cYyK1GYcY2W2J5KMjsQlGrkJ_UZWJIj4KErx8LhJrA" target="blank">Available
      Configurations</a>
  </div>
  <label>
    <div>Configuration</div>
    <div><textarea [formControl]="config"></textarea></div>
  </label>
  <div *ngIf="config.errors; else submitBtn">
    {{ config.errors['invalidJSON'] }}
  </div>
  <ng-template #submitBtn>
    <button (click)="reconnect()">Connect</button>
    <button (click)="disconnect()">Disonnect</button>
  </ng-template>
</div>
<div>
  <label>Samples in Frame: <input type="number" [(ngModel)]="samplesInFrame" /></label>
</div>

<!-- <button mat-raised-button (click)="openConfigurationDialog()">Configure</button> -->

<app-line-chart [data]="temperature$ | async" [name]="temperatureName"></app-line-chart>
<app-line-chart [data]="depth$ | async" [name]="depthName"></app-line-chart>
<app-line-chart [data]="solarPower$ | async" [name]="solarPowerName"></app-line-chart>
<app-line-chart [data]="consumption$ | async" [name]="consumptionName"></app-line-chart>
<app-line-chart [data]="discharge$ | async" [name]="dischargeName"></app-line-chart>
