<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            MQTT Settings
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div [formGroup]="mqttSettingsForm">
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="Device"
              [formControl]="deviceId"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="MQTT Server"
              [formControl]="server"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              type="number"
              placeholder="WSS Port"
              [formControl]="wssPort"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="User"
              [formControl]="user"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              type="password"
              placeholder="Password"
              [formControl]="mqttPwd"
            />
          </mat-form-field>
          <button
            mat-raised-button
            [matBadge]="isConnected ? 'v' : 'x'"
            [matBadgeDescription]="isConnected ? 'Connected' : 'No Connection'"
            [matBadgeColor]="isConnected ? 'primary' : 'warn'"
            (click)="reconnect()"
            [disabled]="!!mqttSettingsErrors?.length"
          >
            Connect
          </button>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Chart Settings
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field>
          <input
            type="number"
            [(ngModel)]="samplesInFrame"
            matInput
            placeholder="Samples in Frame"
          />
        </mat-form-field>
        <div>
          <button mat-raised-button (click)="resetChart()">
            Reset
          </button>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            GUT800 Settings
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div [formGroup]="gut800SettingsForm">
          <mat-form-field>
            <input
              matInput
              type="number"
              step=".001"
              placeholder="Reference Depth, m"
              [formControl]="referenceDepth"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              type="number"
              step=".001"
              placeholder="Zero Level Current, A"
              [formControl]="minCurrent"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              type="number"
              step=".001"
              placeholder="Max Level Current, A"
              [formControl]="maxCurrent"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              type="number"
              step=".001"
              placeholder="Resistance, Ohms"
              [formControl]="r"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              type="number"
              step=".001"
              placeholder="Max Depth, m"
              [formControl]="maxDepth"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              type="number"
              step=".001"
              placeholder="Voltage, V"
              [formControl]="voltage"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              type="number"
              step=".001"
              placeholder="ADC Resoltion, bits"
              [formControl]="resolution"
            />
          </mat-form-field>
        </div>
        <div>
          <button
            mat-raised-button
            (click)="applyGut800Settings()"
            [disabled]="!!gut800SettingsErrors?.length"
          >
            Apply
          </button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-line-chart
      [data]="temperature$ | async"
      [name]="temperatureName"
      [latest]="latestTemperature$ | async"
      [min]="-30"
      [max]="40"
      units="C"
    ></app-line-chart>
    <app-line-chart
      [data]="depth$ | async"
      [name]="depthName"
      [latest]="latestDepth$ | async"
      [min]="0"
      [max]="7"
      units="m"
    ></app-line-chart>
    <app-line-chart
      [data]="solarPower$ | async"
      [name]="solarPowerName"
      [latest]="latestSolarPower$ | async"
    ></app-line-chart>
    <app-line-chart
      [data]="consumption$ | async"
      [name]="consumptionName"
      [latest]="latestConsuption$ | async"
    ></app-line-chart>
    <app-line-chart
      [data]="discharge$ | async"
      [name]="dischargeName"
      [latest]="latestDischarge$ | async"
      [min]="0"
      [max]="25"
    ></app-line-chart>
  </mat-sidenav-content>
</mat-sidenav-container>
