<h1>Manage Mqtt Connection</h1>

<app-loading-tracker>
  <mat-vertical-stepper [linear]="true" #stepper>
    <ng-template matStepperIcon="done" let-index="index">
      {{ (index + 1) * 10 }}
    </ng-template>

    <!-- Setup Mqtt Server -->
    <mat-step
      [completed]="!!(mqttConnectionService.currentMqttServer$ | async)"
    >
      <ng-template matStepLabel>Fill out MQTT Server Options</ng-template>
      <div>
        <mat-form-field>
          <mat-label>Mqtt Server</mat-label>
          <mat-select
            [value]="currentMqttServerId"
            (selectionChange)="selectMqttServer($event.value)"
          >
            <mat-option [value]="null">
              <i class="material-icons">add</i> Add New
            </mat-option>
            <mat-option
              *ngFor="
                let mqttServer of mqttConnectionService.mqttServers$ | async
              "
              [value]="mqttServer.id"
            >
              {{ mqttServer.server }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div [formGroup]="mqttServerForm">
        <div>
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="Server"
              [formControl]="server"
              [errorStateMatcher]="matcher"
            />
            <mat-error *ngIf="server.hasError('required')">
              Server is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input
              matInput
              type="number"
              placeholder="WSS Port"
              [formControl]="wssPort"
              [errorStateMatcher]="matcher"
            />
            <mat-error *ngIf="server.hasError('required')">
              WSS Port is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <button
            mat-raised-button
            matStepperNext
            (click)="saveMqttServer()"
            [disabled]="!!mqttServerErrors.length || mqttServerForm.pristine"
          >
            Save
          </button>
        </div>
      </div>
    </mat-step>

    <!-- Setup Mqtt User -->
    <mat-step [completed]="!!(mqttConnectionService.currentMqttUser$ | async)">
      <ng-template matStepLabel>Fill out MQTT User Credentials</ng-template>
      <div>
        <mat-form-field>
          <mat-label>Mqtt User</mat-label>
          <mat-select
            [value]="currentMqttUserId"
            (selectionChange)="selectMqttUser($event.value)"
          >
            <mat-option [value]="null">
              <i class="material-icons">add</i> Add New
            </mat-option>
            <mat-option
              *ngFor="let mqttUser of mqttConnectionService.mqttUsers$ | async"
              [value]="mqttUser.id"
            >
              {{ mqttUser.user }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div [formGroup]="mqttUserForm">
        <div>
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="User"
              [formControl]="user"
              [errorStateMatcher]="matcher"
            />
            <mat-error *ngIf="user.hasError('required')">
              User is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input
              matInput
              type="password"
              placeholder="Mqtt Password"
              [formControl]="mqttPassword"
              [errorStateMatcher]="matcher"
            />
          </mat-form-field>
        </div>

        <div>
          <button
            mat-raised-button
            matStepperNext
            (click)="saveMqttUser()"
            [disabled]="!!mqttUserErrors.length || mqttUserForm.pristine"
          >
            Save
          </button>
        </div>
      </div>
    </mat-step>

    <!-- Setup Mqtt Device -->
    <mat-step
      [completed]="!!(mqttConnectionService.currentMqttDevice$ | async)"
    >
      <ng-template matStepLabel>Fill out MQTT Device Options</ng-template>
      <div>
        <mat-form-field>
          <mat-label>Mqtt Device</mat-label>
          <mat-select
            [value]="currentMqttDeviceId"
            (selectionChange)="selectMqttDevice($event.value)"
          >
            <mat-option [value]="null">
              <i class="material-icons">add</i> Add New
            </mat-option>
            <mat-option
              *ngFor="
                let mqttDevice of mqttConnectionService.mqttDevices$ | async
              "
              [value]="mqttDevice.id"
            >
              {{ mqttDevice.deviceName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div [formGroup]="mqttDeviceForm">
        <div>
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="Device Name"
              [formControl]="deviceName"
              [errorStateMatcher]="matcher"
            />
            <mat-error *ngIf="deviceName.hasError('required')">
              Device Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Sensor Type</mat-label>
            <mat-select
              [formControl]="sensorType"
              [errorStateMatcher]="matcher"
            >
              <mat-option *ngFor="let t of sensorTypes" [value]="t">
                {{ t | sensorTypeToText }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <button
            mat-raised-button
            matStepperNext
            (click)="saveMqttDevice()"
            [disabled]="!!mqttDeviceErrors.length || mqttDeviceForm.pristine"
          >
            Save
          </button>
        </div>
      </div>
    </mat-step>

    <!-- Connect Mqtt -->
    <mat-step>
      <ng-template matStepLabel>Connect MQTT</ng-template>
      <div>
        <button mat-raised-button [routerLink]="['/mqtt-device']">
          Connect
        </button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</app-loading-tracker>
