<h1>Manage Mqtt Connection</h1>

<app-loading-tracker>
  <mat-vertical-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="mqttServerForm">
      <ng-template matStepLabel>Fill out MQTT Server Options</ng-template>
      <div>
        <mat-form-field>
          <mat-label>Mqtt Server</mat-label>
          <mat-select
            [value]="currentMqttServerId"
            (selectionChange)="selectMqttServer($event.value)"
          >
            <mat-option
              *ngFor="
                let mqttServer of mqttConnectionService.mqttServers$ | async
              "
              [value]="mqttServer.id"
            >
              {{ mqttServer.server }}
            </mat-option>
            <mat-option [value]="null">
              Add New
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div [formGroup]="mqttServerForm">
        <div>
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="Server"
              [formControl]="server"
              [errorStateMatcher]="matcher"
            />
            <mat-error *ngIf="server.hasError('required')">
              Server is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input
              matInput
              type="number"
              placeholder="WSS Port"
              [formControl]="wssPort"
              [errorStateMatcher]="matcher"
            />
            <mat-error *ngIf="server.hasError('required')">
              WSS Port is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <button
            mat-raised-button
            (click)="saveMqttServer()"
            [disabled]="!!mqttServerErrors.length || mqttServerForm.pristine"
          >
            Save
          </button>
          <button
            mat-raised-button
            matStepperNext
            (click)="connectMqttServer()"
          >
            Connect
          </button>
        </div>
      </div>
    </mat-step>
    <!-- <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Fill out your address</ng-template>
            <mat-form-field>
              <input matInput placeholder="Address" formControlName="secondCtrl" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step> -->
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</app-loading-tracker>
