<h1>Manage Mqtt Connection</h1>

<app-loading-tracker>
  <mat-vertical-stepper [linear]="true" #stepper>
    <!-- Setup Mqtt Server -->
    <mat-step [completed]="true" [stepControl]="mqttServerForm">
      <ng-template matStepLabel>Fill out MQTT Server Options</ng-template>
      <div>
        <mat-form-field>
          <mat-label>Mqtt Server</mat-label>
          <mat-select
            [value]="currentMqttServerId"
            (selectionChange)="selectMqttServer($event.value)"
          >
            <mat-option [value]="null">
              <i class="material-icons">add</i> Add New
            </mat-option>
            <mat-option
              *ngFor="
                let mqttServer of mqttConnectionService.mqttServers$ | async
              "
              [value]="mqttServer.id"
            >
              {{ mqttServer.server }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div [formGroup]="mqttServerForm">
        <div>
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="Server"
              [formControl]="server"
              [errorStateMatcher]="matcher"
            />
            <mat-error *ngIf="server.hasError('required')">
              Server is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input
              matInput
              type="number"
              placeholder="WSS Port"
              [formControl]="wssPort"
              [errorStateMatcher]="matcher"
            />
            <mat-error *ngIf="server.hasError('required')">
              WSS Port is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <button
            mat-raised-button
            matStepperNext
            (click)="saveMqttServer()"
            [disabled]="!!mqttServerErrors.length || mqttServerForm.pristine"
          >
            Save
          </button>
        </div>
      </div>
    </mat-step>

    <!-- Setup Mqtt User -->
    <mat-step [completed]="false" [stepControl]="mqttUserForm">
      <ng-template matStepLabel>Fill out MQTT User Credentials</ng-template>
      <div>
        <mat-form-field>
          <mat-label>Mqtt User</mat-label>
          <mat-select
            [value]="currentMqttUserId"
            (selectionChange)="selectMqttUser($event.value)"
          >
            <mat-option [value]="null">
              <i class="material-icons">add</i> Add New
            </mat-option>
            <mat-option
              *ngFor="let mqttUser of mqttConnectionService.mqttUsers$ | async"
              [value]="mqttUser.id"
            >
              {{ mqttUser.user }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div [formGroup]="mqttUserForm">
        <div>
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="User"
              [formControl]="user"
              [errorStateMatcher]="matcher"
            />
            <mat-error *ngIf="user.hasError('required')">
              User is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input
              matInput
              type="password"
              placeholder="Mqtt Password"
              [formControl]="mqttPassword"
              [errorStateMatcher]="matcher"
            />
          </mat-form-field>
        </div>

        <div>
          <button
            mat-raised-button
            matStepperNext
            (click)="saveMqttUser()"
            [disabled]="!!mqttUserErrors.length || mqttUserForm.pristine"
          >
            Save
          </button>
        </div>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</app-loading-tracker>
